<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Teko|Oswald|Nunito&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css?version=3.2">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<ul class="topnav">
  		<li><a href="{{url_for('home')}}">HOME</a></li>
  		<li><a href="{{url_for('how')}}">HOW IT WORKS</a></li>
  		<li><a class="active" href="{{url_for('contact_us')}}">CONTACT</a></li>
  		<li class="right"><a href="{{url_for('about')}}">ABOUT US</a></li>
  	</ul>
  	<div class="heading">
  		<h1>AUTOMATIC ESSAY GRADING SYSTEM</h1>
  		<h1>Contact Us</h1> 
  		  	<p>Machine Learning | 26 June 2019</p>
  	</div>
  	<br>
  	<div class="about">
  		<p>We are undergraduate students studying in Swami Keshvanand Institute of Technology, Management and Gramothan, Jaipur. With Electronics and Communication branch.
  			<h2>Contributors</h2>
  			<hr>
  			<ul>
  			<li>Name : Shamim Banu</li>
  			<li>Branch : Electronics and Communication Engineering.</li>
  			<li>Specialization : Machine Learning, Natural Language processing</li>
  			<li>College : Swami Keshvanand Institute of Technology, Management and Gramothan, Jaipur</li>
  			<li style="padding-right: 90%;"><a href="https://www.linkedin.com/in/shamim-banu-655141187/" style="color: blue;">LinkedIn</a> </li>
  			</ul>
  			<hr>
  			<ul>
  			<li>Name : Saqeeb</li>
  			<li>Branch : Electronics and Communication Engineering.</li>
  			<li>Specialization : Machine Learning, Natural Language processing</li>
  			<li>College : Swami Keshvanand Institute of Technology, Management and Gramothan, Jaipur</li>
  			<li style="padding-right: 90%;"><a href="https://www.linkedin.com/in/saqeeb360/" style="color: blue;">LinkedIn</a></li>
  			</ul>
  			<hr>
  		</p>
  	</div>


<div class="foot_">
	<div class="foot_row">
		<div class="foot_column">
			<ul>
				<li><a href="{{url_for('about')}}"> About us</a>
				</li>
				<br>
				<li><a href="{{url_for('how')}}"> How it works</a>
				</li>
				<br>
				<li><a href="https://www.kaggle.com/c/asap-aes/data/"> Dataset used</a></li>
				<br>
				<li><a href="https://github.com/saqeeb360/Essay_Grading_System/blob/master/app.py"> Github code</a></li>
				<br>
				
			</ul>
		</div>
		<div class="foot_column"></div>
		<div class="foot_column">
			<ul style="list-style-type: none;">
				<li>
					<a href="mailto:saqeeb.360@gmail.com">
						<i class="fa fa-envelope"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail us
					</a>
				</li>
				<br>
				<li>
					<i class="fa fa-phone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91-707-384-4822</i>
				</li>
				<br>
				<li>
					<a href="https://github.com/Saqeeb360">
						<i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Github
					</a>
				</li>
				<br>
				<li>
					<a href="https://www.linkedin.com/in/saqeeb360/">
						<i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="copyright">
	Copyright © 2019 Automated Essay Grading. All rights Reserved

	
</div>

</body>
</html>