<!DOCTYPE html>
<html>
<head>
	<title>Essay Grading System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
</head>
<body>
	<ul class="topnav">
  		<li><a href="{{url_for('home')}}">HOME</a></li>
   		<li><a class="active" href="{{url_for('essay04')}}">ESSAY</a></li>

  		<li><a href="{{url_for('how')}}">HOW IT WORKS</a></li>
  		<li><a href="{{url_for('contact_us')}}">CONTACT</a></li>
  		<li class="right"><a href="#about">ABOUT</a></li>
  	</ul>
	<div class='heading'>
		<center >
			<h1>Winter Hibiscus by Minfong Ho</h1>
			<p>
				Read the last paragraph of the story.

"When they come back, Saeng vowed silently to herself, in the spring, when the snows melt and the geese return and this hibiscus is budding, then I will take that test again." 

Write a response that explains why the author concludes the story with this paragraph. In your response, include details and examples from the story that support your ideas.

			</p>
		</center>
	</div>
	<div align="center">
		<form method=POST action="{{ url_for('result',var='4')}}" class="form-group">
			<textarea name="essay" rows="20" cols="70" placeholder="Enter the essay."></textarea><br><br>
			<button type="submit" class="button" style="vertical-align:middle"><span>
				Result
			</span></button>


		</form>
	</div>
	<div class="foot">
<a id="footerMailLink" href="mailto:saqeeb.360@gmail.com">saqeeb.360@gmail.com</a>
<br>
<br>
<a href="{{url_for('contact_us')}}">
<h3>contact us</h3>
</body>
</html>