<!DOCTYPE html>
<html>
<head>
	<title>Essay Grader : Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Teko|Oswald&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
</head>
<body>
	<ul class="topnav">
  		<li><a class="active" href="#home">HOME</a></li>
  		<li><a href="#news">HOW IT WORKS</a></li>
  		<li><a href="#contact">CONTACT</a></li>
  		<li class="right"><a href="#about">ABOUT</a></li>
  	</ul>
  	<div class="heading">
  		<h1>AUTOMATIC ESSAY GRADING SYSTEM</h1> 
  		  	<p>Machine Learning | 26 July 2019</p>
  	</div>

  <div class="c">
	<div class="row">	
		<div class="column">
	    	<div class="card">
				<a href="{{url_for('essay01')}}">
	      			<h3>Card 1</h3>
	      			<p>Some text</p>
	      			<p>Some text</p>
	      		</a>
	      	</div>
	    </div>

 		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay02')}}">
				    <h3>Card 2</h3>
				    <p>Some text</p>
				    <p>Some text</p>
				</a>
    		</div>
  		</div>
  		
  		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay03')}}">
				    <h3>Card 3</h3>
				    <p>Some text</p>
				    <p>Some text</p>
				</a>
    		</div>
  		</div>

		<div class="column">
			<div class="card">
				<a href="{{url_for('essay04')}}">
			    	<h3>Card 4</h3>
			      	<p>Some text</p>
			    	<p>Some text</p>
			    </a>
    		</div>
  		</div>
	</div>
	<br>
	<div class="row">
		<div class="column">
				<div class="card">
					<a href="{{url_for('essay05')}}">	
		      			<h3>Card 5</h3>
		      			<p>Some text</p>
		      			<p>Some text</p>
		      		</a>
	      		</div>
	  		</div>

 		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay06')}}">	
				    <h3>Card 6</h3>
				    <p>Some text</p>
				    <p>Some text</p>
				</a>
    		</div>
  		</div>
  
  		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay07')}}">	
				    <h3>Card 7</h3>
				    <p>Some text</p>
				    <p>Some text</p>
				</a>
    		</div>
  		</div>
  
  		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay08')}}">	
			    	<h3>Card 8</h3>
			      	<p>Some text</p>
			    	<p>Some text</p>
			    </a>
    		</div>
  		</div>
	</div>
</div>
<footer class="foot">
<a id="footerMailLink" href="mailto:saqeeb.360@gmail.com">saqeeb.360@gmail.com</a>
<h1>1</h1>
<h2>2</h2>
<h1>1</h1>
<h2>2</h2>
<h1>1</h1>
<h2>2</h2>
<h1>1</h1>
<h2>2</h2>
</footer>
</body>
</html>