<!DOCTYPE html>
<html>
<head>
	<title>Essay Grader : Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Teko|Oswald|Nunito&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/static/mystyle.css?version=3.2">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!--Navigation Bar -->
	<ul class="topnav">
  		<li><a class="active" href="{{url_for('home')}}">HOME</a></li>
  		<li><a href="{{url_for('how')}}">HOW IT WORKS</a></li>
  		<li><a href="{{url_for('contact_us')}}">CONTACT</a></li>
  		<li class="right"><a href="#about">ABOUT US</a></li>
  	</ul>
  	<div class="heading">
  		<h1>AUTOMATIC ESSAY GRADING SYSTEM</h1> 
  		  	<p>Machine Learning | 26 June 2019</p>
  	</div>
  	<br>
  <div class="c">
  	<div>
  	<h2 align="center" style="margin: 10px 0 0 0;">Want To Write.</h2>
  	<p align="center" style="margin: 0 10px 50px 10px;">Select below.</p>
 	</div>
	<div class="row">	
		<div class="column">
	    	<div class="card">
				<a href="{{url_for('essay01')}}">
	      			<h3>Computer : Boon or Bane</h3>
	      			<p>Essay writing.</p>
	      		</a>
	      	</div>
	    </div>

 		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay02')}}">
				    <h3>Censorship in the Libraries</h3>
				    <p>Essay writing.</p>
				</a>
    		</div>
  		</div>
  		
  		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay03')}}">
				    <h3>"Rough Road Ahead" by Joe Kurmaskie</h3>
				    <p>Response writing.</p>
				</a>
    		</div>
  		</div>

		<div class="column">
			<div class="card">
				<a href="{{url_for('essay04')}}">
			    	<h3>Winter Hibiscus by Minfong Ho</h3>
			      	<p>Response writing.</p>
			    </a>
    		</div>
  		</div>
	</div>
	<br>
	<div class="row">
		<div class="column">
				<div class="card">
					<a href="{{url_for('essay05')}}">	
		      			<h3>The Blueprints of Our Lives</h3>
		      			<p>Describe it.</p>
		      		</a>
	      		</div>
	  		</div>

 		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay06')}}">	
				    <h3>The Mooring Mast</h3>
				    <p>Describe it.</p>
				</a>
    		</div>
  		</div>
  
  		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay07')}}">	
				    <h3>Patience</h3>
				    <p>Story writing.</p>
				</a>
    		</div>
  		</div>
  
  		<div class="column">
    		<div class="card">
    			<a href="{{url_for('essay08')}}">	
			    	<h3>Laughter for a relationship</h3>
			      	<p>Story Writing.</p>
			    	
			    </a>
    		</div>
  		</div>
	</div>
</div>



<div class="foot_">
	<div class="foot_row">
		<div class="foot_column">
			<ul>
				<li><a href="{{url_for('about')}}"> About us</a>
				</li>
				<br>
				<li><a href="{{url_for('how')}}"> How it works</a>
				</li>
				<br>
				<li><a href="https://www.kaggle.com/c/asap-aes/data/"> Dataset used</a></li>
				<br>
				<li><a href="https://github.com/saqeeb360/Essay_Grading_System/blob/master/app.py"> Github code</a></li>
				<br>
				
			</ul>
		</div>
		<div class="foot_column"></div>
		<div class="foot_column">
			<ul style="list-style-type: none;">
				<li>
					<a href="mailto:saqeeb.360@gmail.com">
						<i class="fa fa-envelope"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail us
					</a>
				</li>
				<br>
				<li>
					<i class="fa fa-phone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91-707-384-4822</i>
				</li>
				<br>
				<li>
					<a href="https://github.com/Saqeeb360">
						<i class="fa fa-github"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Github
					</a>
				</li>
				<br>
				<li>
					<a href="https://www.linkedin.com/in/saqeeb360/">
						<i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="copyright">
	Copyright © 2019 Automated Essay Grading. All rights Reserved

	
</div>






</body>
</html>