<!DOCTYPE html>
<html>
<head>
	<title>HOW IT WORKS</title>
</head>
<body>
	<h1>HOW IT WORKS</h1>
	<p>Essays are paramount for of assessing the academic excellence along with linking
the different ideas with the ability to recall but are notably time consuming when they are
assessed manually. Manual grading takes significant amount of evaluator’s time and hence it is
an expensive process. Automated grading if proven effective will not only reduce the time for
assessment but comparing it with human scores will also make the score realistic. The project
aims to develop an automated essay assessment system by use of machine learning techniques
by classifying a corpus of textual entities into small number of discrete categories,
corresponding to possible grades. Linear regression technique will be utilized for training the
model along with making the use of various other classifications and clustering techniques. We
intend to train classifiers on the training set, make it go through the downloaded dataset, and
then measure performance our dataset by comparing the obtained values with the dataset
values. We have implemented our model using python.
	</p>


</body>
</html>
